.vs/
WordMemo/.vs
WordMemo/WordMemo.Android/bin
WordMemo/WordMemo.Android/obj
WordMemo/WordMemo.Android/GettingStarted.Xamarin
/WordMemo/WordMemo.DataAccess/bin/Debug
/WordMemo/WordMemo.DataAccess/obj/Debug/WordMemo.DataAccess.pdb
/WordMemo/WordMemo.DataAccess/obj/Debug/WordMemo.DataAccess.dll
/WordMemo/WordMemo.DataAccess/obj/Debug/WordMemo.DataAccess.csprojResolveAssemblyReference.cache
/WordMemo/WordMemo.DataAccess/obj/Debug/WordMemo.DataAccess.csproj.FileListAbsolute.txt
/WordMemo/WordMemo.DataAccess/obj/Debug/WordMemo.csproj.FileListAbsolute.txt
/WordMemo/WordMemo.DataAccess/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WordMemo/WordMemo.DataAccess/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WordMemo/WordMemo.DataAccess/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WordMemo/WordMemo.DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WordMemo/WordMemo.DataAccess/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WordMemo/WordMemo.LogicTests/bin/Debug
/WordMemo/WordMemo.LogicTests/obj/Debug/WordMemo.LogicTests.pdb
/WordMemo/WordMemo.LogicTests/obj/Debug/WordMemo.LogicTests.dll
/WordMemo/WordMemo.LogicTests/obj/Debug/WordMemo.LogicTests.csprojResolveAssemblyReference.cache
/WordMemo/WordMemo.LogicTests/obj/Debug/WordMemo.LogicTests.csproj.FileListAbsolute.txt
/WordMemo/WordMemo.LogicTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WordMemo/WordMemo.LogicTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WordMemo/WordMemo.LogicTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WordMemo/WordMemo.LogicTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WordMemo/WordMemo.LogicTests/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WordMemo/WordMemo.Models/obj/Debug
/WordMemo/WordMemo.Models/bin/Debug
/WordMemo/WordMemo.UnitTests/obj/Debug
/WordMemo/WordMemo.UnitTests/bin/Debug
/WordMemo/WordMemo.ViewModels/obj/Debug
/WordMemo/WordMemo.ViewModels/bin/Debug
