.vs/
WordMemo/.vs
WordMemo/UpgradeLog*
WordMemo/WordMemo.Android/bin
WordMemo/WordMemo.Android/obj
WordMemo/WordMemo.Android/GettingStarted.Xamarin
/WordMemo/WordMemo.UnitTests/bin
/WordMemo/WordMemo.UnitTests/obj
/WordMemo/WordMemo.Models/obj
/WordMemo/WordMemo.Models/bin
/WordMemo/WordMemo/bin/Debug
/WordMemo/WordMemo/obj/Debug
/WordMemo/packages/PCLStorage.1.0.2
